<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
	{% block title %}{% endblock %}
	{% load staticfiles %}
	 <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
	  <link href="{% static "bootstrap/css/blog.css" %}" rel="stylesheet"> 
	 <link href="{% static "bootstrap/css/jumbotron.css" %}" rel="stylesheet">
	 <link href="{% static "bootstrap/css/fonts.css" %}" rel="stylesheet"> 
	 {% block morecss %}{% endblock %}
    <title>fido 测试 RP</title>
	</head>
	<body>
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">fido测试RP</a>
          {% block left-header %}
		  <ul class="nav navbar-nav">
            <li class="active"><a href="/index/">Home</a></li>
            {% if request.user.id %}
            <li class="inactive"><a href="/userinfo/?userId={{ request.user.id }}">UserInfo</a></li>
            {% endif %}
            <li class="inactive"><a href="/facetid/">FacetIDs</a></li>
          </ul>
        {% endblock %}
        </div><!--/.navbar-header -->
		{% block right-header %}
        <div class="navbar-collapse collapse">
            <div class="navbar-right">
			{% if not request.user.is_authenticated %}
			<div class="navbar-collapse collapse">
				<form class="navbar-form navbar-right" role="form" method="post" action = "/index/">
				{% csrf_token %}
					<div class="form-group">
						{{loginform.username}}
					</div>
					<div class="form-group">
						{{loginform.password}}
					</div>
					<button type="submit" class="btn btn-success">登&nbsp;&nbsp;录</button>
				</form>
			</div><!--/.navbar-collapse -->
			{% else %}
			<a class="navbar-brand" href="/userinfo/?userId={{ request.user.id }}">欢迎您，{{request.user}}</a>
			<button onclick="window.location.href='/logout/'" class="btn btn-logout">注&nbsp;&nbsp;销</button>
			{% endif %}
            </div><!--/.navbar-right -->
        </div><!--/.navbar-collapse -->
		{% endblock %}
      </div><!--/.container -->
    </div><!--/.navigation -->
	<div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
	{% block header %}
	<div class="jumbotron leave-top">
        <h1>Hello, fido!</h1>
        <p>该网站作为整个fido认证体系的依赖方参与fido demo测试，
            依赖方即RP主要负责根据用户需求触发fido认证服务器形成身份认证或绑定请求，
            并供fido认证客户端查询支持的用户代理。</p>
        {% if request.user.is_authenticated %}
            {% if perms.article.add_essay %}
                <p><a href = "/addarticle/?edit=0" class="btn btn-primary btn-lg" role="button">发篇文章 &raquo;</a></p>
            {% else %}
                <p><a href = "#" class="btn btn-primary btn-lg" role="button" disabled="disabled">暂无发表文章权限 -_-</a></p>
            {% endif %}
        {% else %}
            <p><a href = "/regist/" class="btn btn-primary btn-lg" role="button">加入fido &raquo;</a></p>
        {% endif %}

    </div>
	{% endblock %}
    {% block content %}
    {% endblock %}
	</div> <!--col-xs-12-->
    {% block sidebar %}
<div class="col-xs-6 col-sm-3 sidebar-offcanvas leave-top" id="sidebar" role="navigation">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>该项目由中国科学院信息安全国家重点实验室网络与系统安全组主持，由<em>胡铭铭</em>，<em>寇睿明</em>，
                <em>汪洋</em>负责系统设计和代码编写。工程仍属开发阶段，必有不足之处，望请批评指点。</p>
          </div><!--sidebar-module-inset-->
          <div class="sidebar-module">
            <h4>Roadmap</h4>
            <ol class="list-unstyled">
              <li><a href="#">Nov.18th RP completed</a></li>
              <li><a href="#">fido server developing</a></li>
              <li><a href="#">fido client waiting</a></li>
              <li><a href="#">ASM waiting</a></li>
              <li><a href="#">authenticator waiting</a></li>
            </ol>
          </div><!--sidebar-module-->
          <div class="sidebar-module">
            <h4>相关链接</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/wy315700/fido_demo">GitHub</a></li>
              <li><a href="http://fidoalliance.org/">fido alliance</a></li>
              <li><a href="http://www.iie.ac.cn/">中科院信工所</a></li>
            </ol>
          </div><!--sidebar-module-->
        </div><!--/sidebar-->
{% endblock %}
        </div><!--/.row row-offcanvas row-offcanvas-right -->
    </div><!--/containter-->
    {% block js %}
    {% endblock %}
    <script>
    $(function(){
        {% block on_ready %}
        {% endblock %}
    }
        );
    </script>
	
	{% block footer %}
	{% endblock %}
    </body>
</html>