{% extends "base/base.html" %}
{% block content %}
<form action = "/addarticle/?edit={{isEdit}}" method = "post">
{% csrf_token %}
    <div>
        {{articleForm.subject.errors}}
        <label>题目：</label>
        {{articleForm.subject}}
    </div>
    <div>
        {{articleForm.isOrigin.errors}}
        <label>是否原创：</label>
        {{articleForm.isOrigin}}
    </div>
    <div>
        {{articleForm.category.errors}}
        <label>分类：</label>
        {{articleForm.category}}
    </div>
    <div>
        {{articleForm.status.errors}}
        <label>文章显示：</label>
        {{articleForm.status}}
    </div>
    <div>
        {{articleForm.tag.errors}}
        <label>标签：</label>
        {{articleForm.tag}}<p>多个标签请用半角逗号隔开</p>
    </div>
    <div>
        {{articleForm.content.errors}}
        <label>内容：</label>
        {{articleForm.content}}
    </div>
    <input type = "submit" value="发布">
</form>
{% endblock %}