{% extends "base/base.html" %}
{% block header %}{% endblock %}
{% block content %}
    <div class="leave-top">
<h6 class="blog-post-title" style="text-align: center">{{essay.subject}}</h6>
    <br/>
    {% autoescape off %}
    {% ifequal essay.type 1 %}
        <p class="blog-post-meta" style="text-align: center">作者：{{ essay.username }}&nbsp;&nbsp;&nbsp;&nbsp;类型：原创</p>
    {% else %}
        <p class="blog-post-meta" style="text-align: center">作者：{{ essay.username }}&nbsp;&nbsp;&nbsp;&nbsp;类型：转载</p>
    {% endifequal %}
<div class="blog-main" >{{essay.content}}</div>
    {% endautoescape %}
{% if perms.article.change_essay or request.user.id == essay.userId %}
<button class="btn btn-warning" onclick = "location.href='/editarticle/?essayId={{essay.id}}'" style="float: right">修改文章</button>
{% endif %}
<br/><br/>
<h3>评&nbsp;&nbsp;&nbsp;&nbsp;论 <span class="label label-default">share!</span></h3>
<br/><br/>
{% for comment in comments %}
    <blockquote>
	    <p>{{comment.content}}</p>
        <small style="text-align: right"><a href="/userinfo/?userId={{comment.publisher.id}}">{{comment.publisher.username}}</a>
            <cite>&nbsp;&nbsp;&nbsp;{{comment.publish_time}}</cite>
{% if comment.isSupported %}
<a class = "btn" id = "{{comment.id}}" href="#">已赞({{comment.support_num}})</a>&nbsp;&nbsp;&nbsp;
{% else %}
<a class = "btn" id = "{{comment.id}}" href="#">赞({{comment.support_num}})</a>&nbsp;&nbsp;&nbsp;
{% endif %}
{% if perms.article.delete_comment or comment.publisher.username == request.user.username %}
<a href = "/delcomment/?commentId={{comment.id}}&essayId={{comment.essay.id}}">删除</a>
{% endif %}
    </small>
</blockquote>
<br/>
{% empty %}
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>=_=悲剧~</strong>&nbsp;&nbsp;&nbsp;本文暂无评论，快来发表你的看法吧！
</div>
{% endfor %}
<h3>我&nbsp;的&nbsp;看&nbsp;法 <span class="label label-success">speak!</span></h3>
<br/>
{% if request.user.is_authenticated and perms.article.add_commit and essay.essay_status == 'public' %}
<form action = "" method = "post">
{% csrf_token %}
	<div>
		{{commentForm.content.errors}}
		{{commentForm.content}}
	</div>
	<div>
    <input type = "hidden" name = "essayId" value = {{request.GET.id}} />
		<!-- {{commentForm.essayId|default_if_none:"(N/A)"}} -->
	</div>
    <div>
        <input type = "hidden" name = "publisher" value = {{request.user.id}}>
    </div>
    <br/>
    <div>
        {{commentForm.tend.errors}}
        <label>态度：</label>
        {{commentForm.tend}}
        <input type = "submit" class="ibtn btn btn-success" style="float: right" value="发布">
    </div>
</form>
    {% else %}
        {% if request.user.is_authenticated %}
            {% if essay.essay_status == 'limited' %}
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>抱歉！</strong>&nbsp;&nbsp;&nbsp;本文作者暂未开放评论！
                </div>
            {% else %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>抱歉！</strong>&nbsp;&nbsp;&nbsp;您暂时未取得评论权限，请联系管理员！
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>先让我们认识你！</strong>&nbsp;&nbsp;&nbsp;请首先登录，再进行评论！
            </div>
        {% endif %}
    {% endif %}
    </div>
{% endblock %}
{% block on_ready %}
    $('a.btn[id]').bind("click",function(){
            var commentId = $(this).attr("id");
            $.ajax({
                type:"get",
                url: "/support/",
                data:{
                    commentId : commentId,
                    userId : {{request.user.id}},
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success:function(data){
                    if(($("#" + commentId).html()).indexOf("已") >= 0){
                        $("#" + commentId).html("赞(" + data + ")");
                    }
                    else{
                        $("#" + commentId).html("已赞(" + data + ")");
                    }
                }
            }
            );
        }
);
{% endblock %}
