{% extends "base/base.html" %}
{% block content %}
<h1>{{essay.subject}}</h1>
    {% autoescape off %}
<div>{{essay.content}}</div>
    {% endautoescape %}
{% if perms.article.change_essay %}
<a href = "/editarticle/?essayId={{essay.id}}">编辑</a>
{% endif %}
{% for comment in comments %}
<ul><li>发布人：<a href="/userinfo/?userId={{comment.publisher.id}}">{{comment.publisher.username}}</a>&nbsp;&nbsp;&nbsp;态度：{{comment.tend}}</li></ul>
<ul><li>{{comment.content}}</li></ul>
<ul><li>发布时间：{{comment.publish_time}}&nbsp;&nbsp;&nbsp;
{% if comment.isSupported %}
<a class = "btn" id = "{{comment.id}}" href="#">已赞({{comment.support_num}})</a>&nbsp;&nbsp;&nbsp;
{% else %}
<a class = "btn" id = "{{comment.id}}" href="#">赞({{comment.support_num}})</a>&nbsp;&nbsp;&nbsp;
{% endif %}
{% if perms.article.delete_comment or comment.publisher.username == request.user.username %}
<a href = "/delcomment/?commentId={{comment.id}}&essayId={{comment.essay.id}}">删除</a>
{% endif %}
</li></ul>
<div></div>
{% empty %}
<div>暂无评论！</div>
{% endfor %}
{% endblock %}
{% block footer %}
<form action = "" method = "post">
{% csrf_token %}
	<div>
		{{commentForm.content.errors}}
		<label>评论内容：</label>
		{{commentForm.content}}
	</div>
	<div>
    <input type = "hidden" name = "essayId" value = {{request.GET.id}} />
		<!-- {{commentForm.essayId|default_if_none:"(N/A)"}} -->
	</div>
    <div>
        <input type = "hidden" name = "publisher" value = {{request.user.id}}>
    </div>
    <div>
        {{commentForm.tend.errors}}
        <label>态度：</label>
        {{commentForm.tend}}
    </div>
	<input type = "submit" value="发布">
</form>
{% endblock %}
{% block on_ready %}
    $('a.btn[id]').bind("click",function(){
            var commentId = $(this).attr("id");
            $.ajax({
                type:"get",
                url: "/support/",
                data:{
                    commentId : commentId,
                    userId : {{request.user.id}},
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success:function(data){
                    if(($("#" + commentId).html()).indexOf("已") >= 0){
                        $("#" + commentId).html("赞(" + data + ")");
                    }
                    else{
                        $("#" + commentId).html("已赞(" + data + ")");
                    }
                }
            }
            );
        }
);
{% endblock %}
