{% extends "base/base.html" %}
{% block content %}
    <h1 style="text-align:center">RP facetID 信息</h1>
    <div class="list-group">
   <a href="#" class="list-group-item active">
      <h4 class="list-group-item-heading" style="text-align:center">
         该RP的所有合法FaceIDs
      </h4>
   </a>
   {% for facetId in facetIds %}
   <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">
         {{ forloop.counter }}：{{facetId.facetId}}
      </h4>
   </a>
   {% endfor %}
</div>

{% endblock %}