{% extends "base/base.html" %}
{% block left-header %}
		  <ul class="nav navbar-nav">
            <li class="inactive"><a href="/index/">Home</a></li>
            {% if request.user.id %}
            <li class="inactive"><a href="/userinfo/?userId={{ request.user.id }}">UserInfo</a></li>
            {% endif %}
            <li class="active"><a href="/facetid/">FacetIDs</a></li>
          </ul>
        {% endblock %}
{% block content %}
    <h1 style="text-align:center">RP facetID 信息</h1>
    <div class="list-group">
   <a href="#" class="list-group-item active">
      <h4 class="list-group-item-heading" style="text-align:center">
         该RP的所有合法FaceIDs
      </h4>
   </a>
   {% for facetId in facetIds %}
   <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">
         {{ forloop.counter }}：{{facetId.facetId}}
      </h4>
   </a>
   {% endfor %}
</div>
{% endblock %}