{% extends "base/base.html" %}
{% block sidebar %}
<div class="col-xs-6 col-sm-3 sidebar-offcanvas leave-top" id="sidebar" role="navigation">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>该项目由中国科学院信息安全国家重点实验室网络与系统安全组主持，由<em>胡铭铭</em>，<em>寇睿明</em>，
                <em>汪洋</em>负责系统设计和代码编写。工程仍属开发阶段，必有不足之处，望请批评指点。</p>
          </div><!--sidebar-module-inset-->
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div><!--sidebar-module-->
          <div class="sidebar-module">
            <h4>相关链接</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/wy315700/fido_demo">GitHub</a></li>
              <li><a href="http://fidoalliance.org/">fido alliance</a></li>
              <li><a href="http://www.iie.ac.cn/">中科院信工所</a></li>
            </ol>
          </div><!--sidebar-module-->
        </div><!--/sidebar-->
{% endblock %}
{% block content %}
    <h1 style="text-align:center">RP facetID 信息</h1>
    <div class="list-group">
   <a href="#" class="list-group-item active">
      <h4 class="list-group-item-heading" style="text-align:center">
         该RP的所有合法FaceIDs
      </h4>
   </a>
   {% for facetId in facetIds %}
   <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">
         {{ forloop.counter }}：{{facetId.facetId}}
      </h4>
   </a>
   {% endfor %}
</div>

{% endblock %}