{% extends "base/base.html" %}
{% block sidebar %}
<div class="col-xs-6 col-sm-3 sidebar-offcanvas leave-top" id="sidebar" role="navigation">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>该项目由中国科学院信息安全国家重点实验室网络与系统安全组主持，由<em>胡铭铭</em>，<em>寇睿明</em>，
                <em>汪洋</em>负责系统设计和代码编写。工程仍属开发阶段，必有不足之处，望请批评指点。</p>
          </div><!--sidebar-module-inset-->
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div><!--sidebar-module-->
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div><!--sidebar-module-->
        </div><!--/sidebar-->
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-8 blog-main">
    {% for essay in essays %}
	<div class="blog-post">
    <h6 class="blog-post-title"><a href = "/article/?id={{essay.id}}&uid={{request.user.id}}">{{essay.subject}}</a></h6>
	<p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>
    {% if essay.content|length > 250 %}
	<blockquote>
        <p>{{essay.content|slice:"15"}}...... <a href = "/article/?id={{essay.id}}&uid={{request.user.id}}">查看更多>></a></p>
	</blockquote>
    {% else %}
        <p>{{essay.content}}</p>
    {% endif %}
    {% if perms.article.delete_essay %}
    <a href = "/delarticle/?essayId={{essay.id}}">删除文章</a></div>
    {% else %}
    </div>
    {% endif %}
    {% empty %}
    <h2>当前没有可浏览文章</h2>
    {% endfor %}
	</div>
</div>
{% endblock %}